@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
}

.btn, .input {
  @apply rounded-full;
}

/* Default theme */
.btn-primary {
  @apply text-base-content;
  border-width: 0px;
  background: linear-gradient(to top, rgba(69, 128, 255, 1), rgba(49, 71, 163, 1));
  transition: background-image 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(to top, rgba(69, 128, 255, 1), rgba(49, 71, 163, 1));
}

/* Dark theme */
[data-theme="dark"] .btn-primary {
  background: linear-gradient(to top, rgba(60, 33, 200, 1), rgba(122, 41, 288, 1));
}

[data-theme="dark"] .btn-primary:hover {
  background: linear-gradient(to top, rgba(60, 33, 200, 0.8), rgba(122, 41, 288, 0.8));
}

/* Light theme */
[data-theme="light"] .btn-primary {
  background: linear-gradient(to top, rgba(69, 128, 255, 1), rgba(49, 71, 163, 1));
  color: #ffffff;
}

[data-theme="light"] .btn-primary:hover {
  background: linear-gradient(to top, rgba(69, 128, 255, 1), rgba(49, 71, 163, 1));
}

/* Iris theme */
[data-theme="iris"] .btn-primary {
  background: #ff3f15;
}

[data-theme="iris"] .btn-primary:hover {
  background: #ff3f15;
  box-shadow: 0 0 10px #ff3f15;
}

iframe {
  @apply max-w-full;
}

/* Webkit scrollbar (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #3147A3;
}

::-webkit-scrollbar-thumb {
  background-color: #3147A3;
  border-radius: 4px;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
   background-color:#0D75E3 #3147A3; /* Thumb and track color */
}

/* src/shared/styles/scrollbar.css */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* modals */

.modal-box {
  max-width: fit-content !important;
}
